<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WallmonkeySuite">
  <test thread-count="1" name="WallmonkeyScript">
  	<classes>
 		<class name="com.wallmonkey.test.LoginTest" />
 	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
